__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/
venv/
env/
.venv/
.env
SuricataLogs/
*.log
eve.json
incident_log.txt
stats.log
suricata.log
captures/
*.pcap
*.pcapng
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp